<h1>Add a NEW PRODUCT</h1>

<form action = "/products" method = "POST">
    <input type="text" placeholder="product name" name = "products[name]">
    <input type="text" placeholder="description" name = "products[description]">
    <input type="number" placeholder="price" name = "products[price]">
    <input type="text" placeholder="date bought" name = "products[dateBought]">
    <input type="text" placeholder="date received" name = "products[dateReceived]">
    <input type="text" placeholder="serial number" name = "products[serialNumber]">
    <input type="text" placeholder="image" name = "products[image]">
    <button>Submit</button>
</form>